<div class="header-nav">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <div class="main-menu-wrapper">
        <ul class="main-menu hide-on-med-and-down">
          ${require('./header-drop-down-menu.html')}
          ${require('./header-drop-down-menu-full.html')}
          <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
          <li><a href="collapsible.html">Javascript</a></li>
          <li><a href="mobile.html">Mobile</a></li>
        </ul>
      </div>
      <ul class="right hide-on-med-and-down header-actions">
        ${require('./header-action-search.html')}
        ${require('./header-action-account.html')}
        <li><a class="favorite-header-action"><i class="material-icons">favorite</i></a></li>
        <li><a class="cart-header-action"><i class="material-icons">shopping_cart</i></a></li>
      </ul>
    </div>
  </nav>
</div>
