<li class="header-drop-down-menu-full">
  <a class='dropdown-trigger header-menu-full' data-target='menu-item-full'>Drop Me!</a>
  <div id='menu-item-full' class='dropdown-content menu-item-full'>
    <div class="row">
      <div class="col m3 sub-menu-wrapper">
        <a class="menu-sub-category">sdfasdfasfdas</a>
        <ul class="menu-sub-item">
          <li>sdfasdfasfsaf</li>
          <li>sdfasdfasfsaf</li>
          <li>sdfasdfasfsaf</li>
          <li>sdfasdfasfsaf</li>
          <li>sdfasdfasfsaf</li>
        </ul>
      </div>
      <div class="col m3 sub-menu-wrapper">
        <a class="menu-sub-category">sdfasdfasfdas</a>
        <ul class="menu-sub-item">
          <li>sdfasdfasfsaf</li>
          <li>sdfasdfasfsaf</li>
          <li>sdfasdfasfsaf</li>
          <li>sdfasdfasfsaf</li>
          <li>sdfasdfasfsaf</li>
        </ul>
      </div>
      <div class="col m3 sub-menu-wrapper">
        <a class="menu-sub-category">sdfasdfasfdas</a>
        <ul class="menu-sub-item">
          <li>sdfasdfasfsaf</li>
          <li>sdfasdfasfsaf</li>
          <li>sdfasdfasfsaf</li>
          <li>sdfasdfasfsaf</li>
          <li>sdfasdfasfsaf</li>
        </ul>
      </div>

    </div>

  </div>
</li>
